<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset Request</title>
</head>

<body>
    <p>Hi,</p>
    <p>
        You have requested to reset password on Covid Track.
    </p>
    <p>Click <a href="<%= recoverLink %>">Here</a> to recover password</p>
</body>

</html>